name: Android Pull Request & Master CI

on:
  pull_request:
    branches:
      - 'master'

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle
      - name: Unit tests
        run: bash ./gradlew test --stacktrace

  apk:
    name: Generate APK
    needs: test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: gradle
      - name: Build debug APK
        run: bash ./gradlew assembleDebug --stacktrace
      - name: Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.3.4
        with:
          appId: ${{secrets.FIREBASE_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: testers
          releaseNotesFile: config/release_notes_app_distribution.txt
          file: app/build/outputs/apk/debug/app-debug.apk

  build-tag:
    needs: apk
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Set tag version
        uses: rymndhng/release-on-push-action@master
        with:
          bump_version_scheme: patch

  build:
    needs: build-tag
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Changelog CI
        uses: saadmk11/changelog-ci@v1.0.0
        with:
          config_file: changelog-ci-config.json